<form method="POST" action="/contact-us">

  <label for="contact-us" style="font-size: 30px">Contact Us</label>
  <textarea type="textarea" name="contact-us" style="font-size: 30px">
  <input type="submit" style="font-size: 30px">
  
</form>