<html>
  <head>
    <link rel="stylesheet" href="css/styles.css">
  </head>


  <body>


    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About me</a></li>
      <li><a href="#">Pictures</a></li>
    </ul>

      <%= yield %>

  </body>
</html>